VITE_VK_APP_ID=12345
VITE_API_ENDPOINT="http://localhost:80/"
VITE_API_VERSION="v1.0"
VITE_ENVELOP="development"
VITE_VK_USER_ID=12345
VITE_VK_AUTH_STRING="vk_access_token_settings=&vk_app_id=12345"
VITE_RECAPTCHA_SITE_KEY=MY_SITE_KEY
VITE_RECAPTCHA_FALLBACK_SITE_KEY=MY_FALLBACK_SITE_KEY
