@use "sass:map";
@use "animations";
@use "reset";
@use "fonts";

$font-family: "Nunito", system-ui;

$themes: (
        dark: (
                --bg-color-component: #222222,
        ),
        light: (
                --bg-color-component: #FEF4E6,
        )
);

[theme='light'] {
  @each $key, $value in map.get($themes, light) {
    #{$key}: #{$value};
  }
}

[theme='dark'] {
  @each $key, $value in map.get($themes, dark) {
    #{$key}: #{$value};
  }
}

.v-popper--theme-dropdown .v-popper__inner{
  padding: 10px;
  background: var(--bg-color-component)!important;
  color: #BC7D4D!important;
  border-color: #FBDFC8!important;
}
.v-popper--theme-dropdown .v-popper__arrow-outer{
  border-color: #FBDFC8!important;
}
.v-popper--theme-dropdown .v-popper__arrow-inner{
  border-color: #FFF2E2!important;
}

[theme='dark']{
  .v-popper--theme-dropdown .v-popper__inner{
    background: var(--bg-color-component)!important;
    color: #939393!important;
    border-color: #363738!important;
  }
  .v-popper--theme-dropdown .v-popper__arrow-outer{
    border-color: #363738!important;
  }
  .v-popper--theme-dropdown .v-popper__arrow-inner{
    border-color: #363738!important;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter-to {
  position: relative;
  bottom: 100dvi;
}

.slide-enter-from {
  position: relative;
  bottom: -100dvi;
}

.slide-leave-to {
  position: relative;
  top: -200dvi;
}

.slide-leave-from {
  position: relative;
  top: 0;
}

.rounded-small-avatar{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline;
  vertical-align: sub;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.absolute-marquee-text{
  .inline-icon{
    margin-top: -2px;
  }
}
.inline-icon{
  width: .8em;
  height: .8em;
  vertical-align: middle;
  margin-top: -4px;
}

.cursor-pointer{
  cursor: pointer;
}
.text-center{
  text-align: center;
}

.vip-name{
  position: relative;
  font-weight: bold;
  background: linear-gradient(120deg, #FFD700, #FF8C00, #FFD700); // золотой градиент
  background-size: 200% auto;
  color: transparent!important;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}
@-moz-keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

.iziToast-wrapper{
  .iziToast{
    &.game-info-notification{
      min-height: unset;
      .iziToast-texts{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      >.iziToast-body .iziToast-texts{
        margin-top: 2px;
      }
      >.iziToast-body .iziToast-message{
        margin-bottom: 2px;
      }
      >.iziToast-body{
        min-height: unset;
      }


      >.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title{
        font-size: 12px;
        line-height: 100%;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media(max-width: 768px){
  .iziToast-wrapper{
    &.iziToast-wrapper-topCenter{
      padding-top: 20px;
      padding-top: calc(env(safe-area-inset-top,0) + 20px);
    }
    .iziToast{
      padding: 0 35px 0 0;
      min-height: 36px;
    }
    .iziToast>.iziToast-body{
      margin: 0 0 0 10px;
    }
    .iziToast>.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title{
      font-size: 16px;
      font-family: $font-family;
      font-weight: 400;
      line-height: 110%;
    }
  }
}
