@use "sass:map";
@use "animations";
@use "reset";
@use "fonts";

$font-family: "Nunito", system-ui;

$white: #FFF6E9;
$light-bg: #FFF2E2;
$light-text-primary-color: #BC7D4D;
$light-text-secondary-color: #BD8848;
$light-border-light-color: #FBDFC8;
$light-btn-secondary-border-color: #FBE4CD;


$gray: #EDEEF0;
$gray-2: #EDEEF0;
$pink: #ff4759;
$dark: #141414;
$dark-lite: #333333;

$themes: (
        dark: (
                --bg-color-component: #222222,
        ),
        light: (
                --bg-color-component: #FEF4E6,
        )
);

[theme='light'] {
  @each $key, $value in map.get($themes, light) {
    #{$key}: #{$value};
  }
}

[theme='dark'] {
  @each $key, $value in map.get($themes, dark) {
    #{$key}: #{$value};
  }
}

.v-popper--theme-dropdown .v-popper__inner{
  padding: 10px;
  background: var(--bg-color-component)!important;
  color: #BC7D4D!important;
  border-color: #FBDFC8!important;
}
.v-popper--theme-dropdown .v-popper__arrow-outer{
  border-color: #FBDFC8!important;
}
.v-popper--theme-dropdown .v-popper__arrow-inner{
  border-color: #FFF2E2!important;
}
.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter-to {
  position: relative;
  bottom: 100dvi;
}

.slide-enter-from {
  position: relative;
  bottom: -100dvi;
}

.slide-leave-to {
  position: relative;
  top: -200dvi;
}

.slide-leave-from {
  position: relative;
  top: 0;
}

.rounded-small-avatar{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline;
  vertical-align: sub;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.absolute-marquee-text{
  .inline-icon{
    margin-top: -2px;
  }
}
.inline-icon{
  width: .8em;
  height: .8em;
  vertical-align: middle;
  margin-top: -4px;
}

.cursor-pointer{
  cursor: pointer;
}
@media(max-width: 768px){
  .iziToast-wrapper{
    &.iziToast-wrapper-topCenter{
      padding-top: 20px;
    }
    .iziToast{
      padding: 0 35px 0 0;
      min-height: 36px;
    }
    .iziToast>.iziToast-body{
      margin: 0 0 0 10px;
    }
    .iziToast>.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title{
      font-size: 16px;
      font-family: $font-family;
      font-weight: 400;
      line-height: 110%;
    }
  }
}
