@use "sass:map";
@use "animations";
@use "reset";
@use "fonts";

$font-family: "Nunito", system-ui;

$white: #FFF6E9;
$light-bg: #FFF2E2;
$light-text-primary-color: #BC7D4D;
$light-text-secondary-color: #BD8848;
$light-border-light-color: #FBDFC8;
$light-btn-secondary-border-color: #FBE4CD;


$gray: #EDEEF0;
$gray-2: #EDEEF0;
$pink: #ff4759;
$dark: #141414;
$dark-lite: #333333;

$themes: (
        dark: (
                --bg-color: $light-bg,
                --text-primary: $light-text-primary-color,
                --text-secondary: $light-text-secondary-color,
                --white: $white,
                --box-bg: $white,
                --box-border: $light-border-light-color,
                --btn-secondary-text: $light-text-primary-color,
                --btn-secondary-border: $light-btn-secondary-border-color,
                --btn-secondary-bg: #FFF6EC,
                --btn-primary-text: #FFF6E9,
                --btn-primary-border: #FB9B75,
                --btn-primary-bg: #FFB890,
                --bg-color-component: #FEF4E6,

        ),
        light: (
                --bg-color: $light-bg,
                --text-primary: $light-text-primary-color,
                --text-secondary: $light-text-secondary-color,
                --white: $white,
                --box-bg: $white,
                --box-border: $light-border-light-color,
                --btn-secondary-border: $light-btn-secondary-border-color,
                --btn-secondary-bg: $white,
                --btn-secondary-text: $light-text-primary-color,
                --btn-primary-text: #FFF6E9,
                --btn-primary-border: #FB9B75,
                --btn-primary-bg: #FFB890,
                --bg-color-component: #FEF4E6,
        )
);

[theme='light'] {
  @each $key, $value in map.get($themes, light) {
    #{$key}: #{$value};
  }
}

[theme='dark'] {
  @each $key, $value in map.get($themes, dark) {
    #{$key}: #{$value};
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter-to {
  position: relative;
  bottom: 100dvi;
}

.slide-enter-from {
  position: relative;
  bottom: -100dvi;
}

.slide-leave-to {
  position: relative;
  top: -200dvi;
}

.slide-leave-from {
  position: relative;
  top: 0;
}

@media(max-width: 768px){
  .iziToast-wrapper{
    &.iziToast-wrapper-topCenter{
      padding-top: 20px;
    }
    .iziToast{
      padding: 0 35px 0 0;
      min-height: 36px;
    }
    .iziToast>.iziToast-body{
      margin: 0 0 0 10px;
    }
    .iziToast>.iziToast-body .iziToast-message, .iziToast>.iziToast-body .iziToast-title{
      font-size: 12px;
      font-family: $font-family;
      font-weight: 400;
      line-height: 110%;
    }
  }
}
